<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wrap</title>
    <link rel="stylesheet" href="static/bootstrap.css" media="screen">
    <link rel="stylesheet" href="static/custom.min.css">
    <link rel="stylesheet" href="static/carousel.css">
</head>
<body>
    {{{ body }}}
</body>
<script src="static/jquery.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/custom.js"></script>
</html>