
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="/" class="navbar-brand"><strong><Span style="color: orangered">W</Span><span style="color: rgb(255, 136, 0)">rap</span></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs">Docs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Platform <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" target="_blank" href="">Analytics</a>
                <a class="dropdown-item" target="_blank" href="">Security</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Serverless</a>
                <a class="dropdown-item" href="">Mobile</a>
                <a class="dropdown-item" href="">Web</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
        <div class="jumbotron">
            <h4>Welcome to <strong><Span style="color: orangered">W</Span><span style="color: rgb(255, 136, 0)">rap</span></strong></h4>
            <p style="color: cornsilk">
                Wrap is an all-in-one platform for automating AI,ML web and Mobile projects. 
                Replace your hosting infrastructure, continuous integration, and deployment 
                pipeline with a single workflow. Integrate dynamic functionality like serverless 
                functions, user authentication and Security as your projects grow.
</p>
<p style="color: cornsilk"> 
    <strong>Get started</strong>
To get started with Wrap, learn how to create deploys. Options for creating deploys range 
from connecting a Git repository for continuous deployment to publishing a project folder with 
drag and drop.
</p>
<p style="color: cornsilk"> 
    <strong>Discover Wrap</strong><Br></Br>
Explore our documentation to learn about Wrap products and features. 
Here are some highlights from each section of the docs:
<div class="clearfix"></div>
<strong style="color: cornsilk">Configure builds</strong> <p style="color: cornsilk">
    Wrap can run your build command and deploy the result whenever you 
push to your Git repo. Get started with basic build settings, learn about managing, 
and explore additional options available with file-based configuration.
</p>
</p>
        </div>
    </div>
